footer {
    background-color: rgba(232, 53, 86, 1);
    position:absolute;
      bottom: 0;
    width: 100%;
    transform: translate(0,100%);

    .contact-icons {
        color: rgba(232, 53, 86, 1);
        background-color: rgba(97, 208, 212, 1);
        font-size: 35px !important;
        padding: 13px 15px;
        border-radius: 50%;
    }

    .col-md-3.col-xs-6 {
        @media screen and (max-width: 480px) {
            width: 100%;
            float: none;

            .contact {
                padding: 10px;
            }
        }
    }

    .contact {
        padding: 30px 10px;



        .contact-info-holder {
            padding-left: 70px;

            & > i {
                float: left;
                margin-left: -74px;
            }
        }
        p{
            color: white;
            font-size: 12px;

        }
        .follow-icons {
            font-size: 22px;
            letter-spacing: 5px;
            color: white;
        }
        .copy-right {
            p {
                padding-top: 20px;
                padding-left: 10px;
            }
        }
    }
}
